p span.count {
    float: right;
}

.tableList thead th {
    vertical-align: top;
}

.tableList {
    white-space: nowrap;
    max-width: none;
    width: auto;
    margin:0;
}

#public-specieslist .tableList {
    width: 100%;
}

#speciesList {
    padding-top: 1rem;
}

#facets-column {
    /*margin-top: 5px;*/
}

#currentFilters {
    margin-bottom: 15px;
}

#currentFilters > ul {
    list-style: none;
    margin-left: 10px;
    padding-left:15px;
}

#currentFilters > ul > li {
    margin: 0px;
    padding: 0px;
    text-indent: -1.3em;
    margin-left: 0;
}

#currentFilters .tooltip {
    text-indent: 0;
}

.showHide {
    margin-left: -6px;
    font-size: 13px;
}

table#editRecordTable {
    background-color: white;
}

td.dataField {
    padding-top: 10px;
}

td.dataValue > input[type="text"] {
    margin-bottom: 0;
    min-height: 28px;
}

.speciesList .sortable, .tableList .sortable {
    background: url('../images/sort_both.png') no-repeat center right;
    padding-right: 18px;
}

.speciesList .sorted.asc, .tableList .sorted.asc {
    background: url('../images/sort_asc.png') no-repeat center right;
}

.speciesList .sorted.desc, .tableList .sorted.desc {
    background: url('../images/sort_desc.png') no-repeat center right;
}

#list-meta-data {
    margin-bottom: 15px;
    padding: 0;
    color: #000;
    background-color: #f9f9f9;/*#EBF9FF;  #EBF8FF; */
    border: 1px solid #dddddd; /*#C2EBFF;*/
    padding-right: 10px;
}

#list-meta-data dl {
    /*clear: both;*/
    margin: 10px 0;
}

#edit-meta-button {
    margin:5px 5px;
    float: left;
    display: inline-block;
    position: absolute;
}

.searchWidgets {
    width: 20%;
    float: right;
    margin: 22px 0;
    text-align: right;
}

#edit-meta-div {
    padding-top: 10px;
}

#edit-meta-form input, #edit-meta-form textarea, #edit-meta-form select {
    height: 16px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 2px;
}

#edit-meta-form select {
    height: 26px;
}

#edit-meta-form textarea {
    height: auto;
}

#edit-meta-form input[type="checkbox"] {
    margin-top: 8px;
}

#edit-meta-form label {
    font-weight: bold;
}

#edit-meta-form .control-group {
    margin-bottom: 6px;
}

dl#show-meta-dl dt {
    margin-top: -1px;
}

img#spinner {
    display: none;
    float: left;
}

.alert .close {
    display: inline-block;
    position: relative;
    top: 6px;
    right: 4px;
}

img.smallSpeciesImage {
    max-height: 50px;
    max-width: 100px;
}

#viewRecord img.smallSpeciesImage {
    max-height: none;
    max-width: none;
}

#speciesListTable {
    margin-bottom: 0;
    border-style: hidden;
}

#speciesListTable td.kvp  {
    padding: 0;
}

#speciesListTable td.kvp.scrollWidth  {
    min-width: 300px;
}

#speciesListTable td.kvp div {
    /*position: relative;*/
    overflow-x: auto;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    /*word-wrap: break-word;      *//* IE */
    max-height: 80px;
    padding: 8px;
}

.list-search-form {
    display: inline-block;
    float: left;
    margin-right: 1rem;
}

#listItemView {
    /*float: right;*/
}

#listItemView .btn {
    font-weight: bold;
}

/* Grid view */
.imgCon {
    display: inline-block;
    /* margin-right: 8px; */
    text-align: center;
    line-height: 1.3em;
    background-color: #DDD;
    color: #DDD;
    font-size: 12px;
    position: relative;
    margin: .5rem;
}

.imgCon img {
    height: 180px;
}

.imgCon .meta {
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-align: left;
    padding: 4px 5px 2px 5px;
}

.imgCon .brief {
    color: black;
    background-color: white;
}

.imgCon .detail {
    display: none;
    color: white;
    background-color: black;
    opacity: 0.7;
}

.imgCon:hover .meta.brief {
    display: none;
}

.imgCon:hover .meta.detail {
    display: block;
}

#grid-tab {
    padding: .5rem;
}

.overrideHide {
   display: block !important;
}

.borderless td, .borderless th {
    border: none;
}

.tab-content {
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    margin-bottom: 1rem;
}

/**
 * Keeps file type input's appearance clear. Will be removed once we create a
 * more stylish file selector input.
 */
.file-selector {
    background-color: initial;
    border: initial;
    padding: 0;
}

.pagination > .step, .currentStep, .prevLink {
    padding-right: 0.5em;
}

/* Override container padding */
#content.container-fluid {
    padding: 0;
}
